@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.loadings {
    min-height: 100vh;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 768px) {

    .loadings {
        align-items: center;
        text-align: center;
        position: fixed;
        margin-left: auto;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        min-height: 100vh;
    }

}

.loadings img {
    display: block;
    width: 100%;
    max-width: 150px;
}

// Menu
.q-item__section--avatar {
    min-width: 0;
}

.GPL__toolbar {
    height: 64px;
}

.q-drawer--left .q-item__label {
    font-family: "Heebo", sans-serif;
    text-transform: normal;
    color: #3c4043;
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25r
}

.q-drawer--left .title-menu {
    font-size: 14px;
}

.q-drawer--left .icon-header,
.q-drawer--left .q-btn .q-icon {
    font-size: 26px;
    min-height: 26px;
    min-width: 26px;
}

.q-drawer--left .q-item__label--header {
    color: #2a2a2a;
}

.q-drawer--left .q-item__section--side>.q-icon {
    font-size: 21px;
}

.q-drawer--left .q-item__label.q-item__label--header {
    display: flex;
    align-items: center;
}

.q-drawer--left .version {
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
}

.close-menu {
    margin-right: 0;
}

// Home

.title {
    color: #27a4dc;
    position: relative;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.wrapper .line {
    border-top: 1px solid #27a4dc;
    flex-grow: 1;
    margin: 0 10px;
}

.q-stepper__tab {
    padding: 0 !important;
}

#loader {
    margin-top: -8rem;
}

// Footer Menu

.q-footer-layout {
    font-family: "Heebo", sans-serif;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.q-tab {
    padding: 0 12px;
}

// Others Style

.q-page {
    padding: 0 1rem;
    position: relative;
    min-height: calc(100vh - 50px) !important;
    display: flex;
    height: 100% !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.q-page-not-logging {
    min-height: 100vh !important;
}

.q-page-no-padding {
    padding: 0;
}

.q-page-start {
    justify-content: start;
}

.q-page .q-responsive__content.absolute-full {
    position: relative;
}

.q-page .q-responsive__filler.overflow-hidden {
    display: none;
}

.header-table {
    font-weight: 600 !important;
}

.form-padding {
    padding-right: 15px;
}

.form-w {
    max-width: 468px;
}

@media all and (max-width: 480px) {

    .form-padding {
        padding-right: 0;
    }

    .q-form .row-form {
        flex-direction: column;
    }

    .q-form .row-form .col-6 {
        width: 100%;
    }

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Heebo", sans-serif;
}

.title {
    font-weight: 600;
    margin: 0;
}

h1 {
    font-size: 40px;
}

h5 {
    color: #27a4dc !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
}

h6 {
    color: #27a4dc !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
}

.h6 {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.bloc-document span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: normal;
}

.bloc-document p {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

p {
    font-size: 30px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bloc-informations p {
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
}

@media all and (max-width: 768px) {

    h1 {
        font-size: 18px;
        line-height: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        line-height: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .title {
        font-weight: 600;
        margin: 0.5rem 0;
    }

    .bloc-informations p {
        letter-spacing: normal;
        text-transform: none;
        font-weight: normal;
    }


}

.q-item__section--main {
    font-family: "Heebo", sans-serif;
    text-transform: normal;
    letter-spacing: .01785714em;
    font-size: .875rem !important;
    font-weight: 500;
    line-height: 1.25r
}

.w-100 {
    width: 100%;
}

.q-stepper__content.q-panel-parent {
    display: none;
}

.q-stepper {
    border-radius: 0;
    box-shadow: none;
}

.q-stepper__header--border {
    border: none;
}

.hide {
    display: none;
}

.disabled {
    opacity: 0.2 !important;
    pointer-events: none;
}

.text-white .text-light-blue-9,
.text-white .q-item__label--caption {
    color: #fff !important;
}

.q-field--dense .q-field__after {
    padding-left: 0;
    margin-top: 20px;
}

.card-entreprise-stats {
    width: 100%;
    max-width: 250px;
}

.q-expansion-item__container .q-item {
    padding-left: 0;
    padding-right: 0;
}

#tab-accounting .q-tab__label {
    font-weight: bold;
}

.leftDrawerOpenSettings,
.leftDrawerOpen {
    width: 100%;
}

@media all and (max-width: 246px) {

    .leftDrawerOpen {
        width: 246px;
    }

    .leftDrawerOpenSettings {
        width: 280px;
    }

    .leftDrawerUser {
        width: 280px;
    }

}

// 404

.h1 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    color: #27a4dc !important;
    text-transform: uppercase;
    font-weight: 600;
}

.h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.00833em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.p {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 2rem;
}

// Animations